.new_profile_button{
    -fx-font-family: "Be Vietnam";
    -fx-text-fill: white;
    -fx-background-color: #07245a;
}

.new_profile_button:hover{
    -fx-background-color: #d4d4d4;
    -fx-text-fill: #07245a;
}

.load_profile_button{
    -fx-font-family: "Be Vietnam";
    -fx-text-fill: #07245a;
    -fx-background-color: #d4d4d4;
}

.load_profile_button:hover{
    -fx-text-fill: white;
    -fx-background-color: #07245a;
}

.white_button{
    -fx-background-color: transparent;
    -fx-text-fill: #07245a;
    -fx-background-radius: 0;
}

.white_button:hover{
    -fx-background-color: #d4d4d4;
}

.white_menu{
    -fx-border-width: 0 1 0 0;
    -fx-border-color: #07245a;
}

.green_white_menu{
    -fx-border-width: 0 1 0 0;
    -fx-border-color: #1a9000;
}

.green_white_button{
    -fx-background-color: transparent;
    -fx-text-fill: #1a9000;
    -fx-background-radius: 0;
}

.green_white_button:hover{
    -fx-background-color: #d4d4d4;
}

.blue_button{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-background-radius: 0;
}

.blue_button:hover{
    -fx-background-color: white;
    -fx-text-fill: #07245a;
}

.green_button{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-background-radius: 0;
}

.green_button:hover{
    -fx-background-color: white;
    -fx-text-fill: #1a9000;
}

.home_page_button{
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-text-fill: white;
}

.home_page_button:hover{
    -fx-background-color: white;
    -fx-text-fill: #07245a;
}

.home_page {
    -fx-background-color: #07245a;
}

