.blue_button{
    -fx-font-family: "Be Vietnam";
    -fx-text-fill: white;
    -fx-background-color: #07245a;
    -fx-min-width: 107;
    -fx-min-height: 32;
    -fx-background-radius: 20;
}

.blue_button:hover{
    -fx-background-color: #d4d4d4;
    -fx-text-fill: #07245a;
}

.green_button{
    -fx-font-family: "Be Vietnam";
    -fx-text-fill: white;
    -fx-background-color: #1a9000;
    -fx-min-width: 107;
    -fx-min-height: 32;
    -fx-background-radius: 20;
}

.green_button:hover{
    -fx-background-color: #d4d4d4;
    -fx-text-fill: #1a9000;
}

.gray_button{
    -fx-font-family: "Be Vietnam";
    -fx-text-fill: #1a9000;
    -fx-background-color: #d4d4d4;
    -fx-min-width: 107;
    -fx-min-height: 32;
    -fx-background-radius: 20;
}

.gray_button:hover{
    -fx-text-fill: white;
    -fx-background-color: #1a9000;
}

.health_white_menu{
    -fx-border-width: 0 1 0 0;
    -fx-border-color: #07245a;
}

.footprint_white_menu{
    -fx-border-width: 0 1 0 0;
    -fx-border-color: #1a9000;
}

.health_white_menu_button{
    -fx-background-color: transparent;
    -fx-text-fill: #07245a;
    -fx-background-radius: 0;
}

.footprint_white_menu_button{
    -fx-background-color: transparent;
    -fx-text-fill: #1a9000;
    -fx-background-radius: 0;
}

.footprint_white_menu_button:hover{
    -fx-background-color: #d4d4d4;
}

.health_white_menu_button:hover{
    -fx-background-color: #d4d4d4;
}

.health_blue_menu{
    -fx-background-color: #07245a;
}

.health_blue_menu_button{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-background-radius: 0;
}

.health_blue_menu_button:hover{
    -fx-background-color: white;
    -fx-text-fill: #07245a;
}

.footprint_green_menu_button{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-background-radius: 0;
}

.footprint_green_menu{
    -fx-background-color: #1a9000;
}

.footprint_green_menu_button:hover{
    -fx-background-color: white;
    -fx-text-fill: #1a9000;
}

.home_page_button{
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-text-fill: white;
}

.home_page_button:hover{
    -fx-background-color: white;
    -fx-text-fill: black;
}

.home_page {
    -fx-background-color: #1a9000;
}

.footprint_title{
    -fx-font-family: "Be Vietnam";
    -fx-font-size: 26;
    -fx-text-fill: #1a9000;
}

.health_title{
    -fx-font-family: "Be Vietnam";
    -fx-font-size: 26;
    -fx-text-fill: #07245a;
}

.text{
    -fx-font-family: "Be Vietnam";
}

.check_box .box{
    -fx-background-radius: 50;
}
